@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&family=Lexend:wght@500;700&display=swap');


font-family: 'Archivo', sans-serif;
font-family: 'Lexend', sans-serif;


.slide {
    @apply bg-slate-500 w-80 h-40;
}

body {
    background-color: #f4f5fa;
}


